@font-face {
  font-family: "Museo Sans 500";
  src: url("../fonts/museo-sans/MuseoSans_500.otf");
}
@font-face {
  font-family: "Museo Sans 700";
  src: url("../fonts/museo-sans/MuseoSans_700.otf");
}